.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: black;
}

.backGroundImg{
  opacity:1;
  position: relative;
  isolation: isolate;
}

.backGroundImg::after{
  content: '';
  position:absolute;
  background: black;
  inset:0;
  z-index:-1;
  opacity: 0.5;
}

.getAccessButton{
  background-color: #1a1b1f;
    padding: 16px 35px;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: Polysans-Slim, sans-serif;
    text-decoration: none;
    transition: background-color .4s, opacity .4s, color .4s;
    border:none;
    margin-top:30px;
    cursor:pointer;
}

.container{
  text-align: left;
}

.timeline-content h2{
  color: #e9d2c4;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Polysans-Slim, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
}

.timeline-content p{
  color: #838383;
    letter-spacing: normal;
    font-family: Polysans-Slim, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}






.timeline {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  padding: 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #ff2c3c;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-270px);
  z-index: -1;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
  padding-left: 40px;
}

  
  
   
    

.timeline-item::before {
  content: '';
  position: absolute;
  width: 3rem;
    height: 3rem;
    background-color: #838383;
    border: 0.5rem solid #e9d2c4;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-300px);
}

.timeline-content{
  text-align: left;
  margin-left:100px;
}


.quote{
  width:70%;
  padding-left: 140px;
  padding-bottom:20px;
}

.icon{
  margin-top:30px;
  margin-right:10px;
}

.link:hover{
  color: rgba(38, 70, 83, .8);
  cursor: pointer;
}